<div class="container">
	<div class="row signup-box">
		<div class="col-md-6 signup-title">
			<hgroup>
				<h1>Bem-Vindo</h1>
				<h2>Faça o cadastro para ter acesso as informações.</h2>	
			</hgroup>
			<p>
				Ao se cadastrar, você terá acesso a informações relacionadas a porcentagem da utilização de browsers. <br />
				Também contará com informações referentes a temperaturas médias de grandes metrópolis.

			</p>
			
		</div>
		<div class="col-md-6">
			<div class="signup-black-box">
				<form name="signUpForm" ng-submit="vm.submit(signUpForm, vm.contact);">
					
					<fieldset>
						<div class="form-group">
							<label class="sr-only" for="email">Email</label>
							<input type="email" id="email" name="email" placeholder="Email" class="form-control" ng-model="vm.contact.email" required>
						</div>
						
						<fieldset>
							<div class="form-group pull-left signup-box-one-half" ng-class="{ 'has-error' : signUpForm.passwordConfirmation.$invalid }">
								<label class="sr-only" for="password">Senha</label>
								<input type="password" id="password" name="password" placeholder="Senha" class="form-control" ng-model="vm.contact.password" required>
							</div>
							<div class="form-group pull-right signup-box-one-half"  ng-class="{ 'has-error' : signUpForm.passwordConfirmation.$invalid }">
								<label class="sr-only" for="contact-passwordConfirmation">Confirmar Senha</label>
								<input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirmar Senha" class="form-control" ng-model="passwordConfirmation" compare-to="vm.contact.password" required>
							</div>
						</fieldset>

						<div class="form-group">
							<label class="sr-only" for="fullName">Nome Completo</label>
							<input type="text" id="fullName" name="fullName" placeholder="Nome Completo" class="form-control" ng-model="vm.contact.fullName" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="birthDate">Data de Nascimento</label>
							<input type="date" id="birthDate" name="birthDate" placeholder="Data de Nascimento" class="form-control" ng-model="vm.contact.birthDate" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="zipCode">CEP</label>
							<input type="text" id="zipCode" name="zipCode" placeholder="CEP" class="form-control"  ng-model="vm.contact.zipCode" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="streetName">Rua</label>
							<input type="text" id="streetName" name="streetName" placeholder="Rua" class="form-control" ng-model="vm.contact.streetName" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="number">Número</label>
							<input type="text" id="number" name="number" placeholder="Número" class="form-control" ng-model="vm.contact.number" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="complement">Complemento</label>
							<input type="text" id="complement" name="complement" placeholder="Complemento" class="form-control" ng-model="vm.contact.complement">
						</div>

						<div class="form-group">
							<label class="sr-only" for="neighbourbood">Bairro</label>
							<input type="text" id="neighbourbood" name="neighbourbood" placeholder="Bairro" class="form-control" ng-model="vm.contact.neighbourbood">
						</div>

						<div class="form-group">
							<label class="sr-only" for="country">País</label>
							<select id="country" name="country" class="form-control" ng-model="vm.contact.country" required>
								<option value="">País</option>
								<option ng-repeat="(key, country) in vm.countries" value="{{ ::key }}">{{ ::country }}</option>
							</select>
						</div>

						<div class="form-group">
							<label class="sr-only" for="state">Estado</label>
							<input type="text" id="state" name="state" placeholder="Estado" class="form-control" ng-model="vm.contact.state" required>
						</div>

						<div class="form-group">
							<label class="sr-only" for="city">Cidade</label>
							<input type="text" id="city" name="city" placeholder="Cidade" class="form-control" ng-model="vm.contact.city">
						</div>
					</fieldset>

					<button type="submit" id="submit" class="btn-action">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>	
</div>

