.full-size {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

.padding-0 {
    padding: 0;
}

.has-error .form-control {
    background-color: rgb(255, 203, 202);
    color: #a94442;
}

.modal {
    display: block;
}

.modal-body:before, .modal-body:after,
.modal-header:before, .modal-header:after {
    display: table;
    content: "";
}

.modal-dialog {
    width: 350px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: 0 5px 20px black;
    top: 30%;
}

.modal-backdrop {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.overflow-hidden {
    overflow-x: hidden;
}

@media (max-width: 1025px) {
    .city-temperatures-box .dataTables_wrapper {
        overflow-x: scroll; 
    }
}
