.application-background {
	position: absolute;
	background: url(../images/signup-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	z-index: -1;	
}

.signup-title {
	color: #fff;
}

.signup-box {
	margin-top: 18em;
}

.signup-box .signup-black-box {
	width: 600px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	text-align: left;
	border-radius: 10px;
}

.signup-box .signup-box-one-half {
	width: 49%;
} 

.btn-action {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4B43A5;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.charts-page {
	margin: 30px auto;
}

.charts-box .charts-black-box {
    margin: 30px auto;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	text-align: left;
	border-radius: 10px;
}

.charts-title {
	color: #fff;
	text-align:center;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.charts-table {
	color: #fff;
	font-weight: 700;
}

.dataTables_filter > label {
	color: #fff;
}

.dataTables_filter > label input {
	color: #000;
	margin-left: 5px;
}

.charts-table-header {
	text-transform: capitalize;
}

table.dataTable thead th {
	padding-left: 5px;
}